[color]
  branch = auto
  diff = auto
  status = auto
  ui = always

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = blue

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[user]
  name = ArturT
  email = arturtrzop@gmail.com
